"venv/" 
"__pycache__/" 
".ipynb_checkpoints/" 
"*.pyc" 
"*.pyo" 
".DS_Store" 
/.idea/csv-editor.xml
/.idea/dataSources.xml
/.idea/dbnavigator.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/data/merged_data_202407131635.csv
/data/.ipynb_checkpoints/merged_data_202407131635-checkpoint.csv
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/proyecto-final-spotify.iml
/.ipynb_checkpoints/README-checkpoint.md
/assets/SpotifyLogo.png
/.idea/sqldialects.xml
/data/track_202407141235.rar
/.idea/vcs.xml
